.Weather {
  border: 2px solid #d59bf6;
  font-family: Arial, sans-serif;
  padding: 16px;
  margin: 30px, auto;
  border-radius: 4px;
}

.Weather h1 {
  color: #d59bf6;

  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
  margin-top: 8px;
}
.Weather :ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  color: #d59bf6;

  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  list-style: none;
}

.Weather img {
  margin-top: 5px;
  margin-right: 10px;
  display: inline-block;
}
.Weather .temperature {
  color: #d59bf6;

  font-size: 48px;
  font-weight: 400;
  line-height: 64px;
}

.Weather .unit {
  color: #d59bf6;

  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -32px;
  line-height: 1;
  margin-left: 0px;
}
.Weather .btn-primary {
  color: #fff;
  background-color: #d59bf6;
  border-color: #d59bf6;
}
.Weather .btn-primary:hover {
  color: #fff;
  background-color: #d59bf6;
  border-color: #d59bf6;
}
.Weather input[type="search"] {
  background-color: #d59bf6;

  border-color: #d59bf6;
  border-color: #d59bf6;
}
.Weather input[type="search"] {
  background: #d59bf6;
  border-color: #d59bf6;
}
.Weather input[type="search"] {
  color: ffff;
}
.Weather input[type="search"]:focus {
  border-color: #8ef6e4;
  box-shadow: 0 0 0 0.25rem #d59bf6;
}
.Weather input[type="search"] {
  border-color: #d59bf6;
}
